*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    height: 100vh;
    background-color: #5A69BB ;
    font-family: sans-serif;
}

.score {
    color: rgb(221, 218, 218);
    height: 20vh;
    display: flex;
    /* justify-content: space-around; */


}